@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-with-border {
    border: 1px soild #ccc;
    box-shadow: 0px 2px 8px;
  }
  .drawer-transform-active {
    width: 180px;
  }
  .sidebar-transform-active {
    width: 180px;
  }
  .line2-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@layer components {
  .nav-bts {
    @apply place-items-center justify-between delay-200 ease-in [&>div>button>span]:mx-[10px] [&>div>button>span]:transition-colors hover:[&>div>button>span]:text-[#e76712];
  }
  .fieldset-border {
    @apply border border-solid border-gray-400 rounded-sm p-2 my-2;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
